body {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.holder {
  font-size: 3vh;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas:
    "x menu y"
    "x content y"
    "x pagination y";
  grid-gap: 0;
  width: 100vw;
  height: 100vh;
}
.menu {
  grid-area: menu;
  line-height: 10vh;
}
.content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(10, 8vh);
  grid-template-columns: 80vw;
  grid-gap: 0;
}
.item {
  pointer-events: none;
  display: grid;
  grid-template-rows: 4vh 4vh;
  grid-template-columns: 50vw 30vw;
  grid-template-areas: 
    "title links"
    "path links";
  grid-gap: 0;
  line-height: 4vh;
}
.item:hover {
  border-bottom: 1px solid #186df7;
}
.item a {
  pointer-events: auto;
}
.itemTitle {
  grid-area: title;
}
.itemPath {
  grid-area: path;
}
.itemLinks {
  grid-area: links;
  text-align: right;
  line-height: 8vh;
}
.pagination {
  grid-area: pagination;
  padding-top: 2vh;
}
.button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #186df7;
  padding: 1vh;
  height: 4vh;
  border-radius: 0.5vh;
}
.button:hover {
  background-color: #fff;
  color: #186df7;
}
.selected {
  background-color: #fff;
  color: #186df7;
}
.url {
  color: #fff;
  background-color: #186df7;
  padding: 1vh;
  border-radius: 0.5vh;
  text-decoration: none;
}
.url:hover {
  background-color: #fff;
  color: #186df7;
}
