body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
.h5p-cli-iframe-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  width: auto;
  max-width: 1080px;
  margin: auto;
}
.h5p-cli-iframe-wrapper iframe {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: #186df7;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover {
  background-color: #fff;
  color: #186df7;
}
.session {
  margin-bottom: 5px;
}
.inline {
  display: inline-block;
}
