<!DOCTYPE html>
<html>
  <head>
    <title>h5p-dev dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/styles/dashboard.css">
    <script type="text/javascript" src="/assets/scripts/dashboard.js"></script>
    <script type="text/javascript">
      const runner = new dashboard({
        self: 'runner',
        host: '{host}',
        ids: {
          newContentButton: 'newContentButton',
          newContent: 'newContent',
          contentTypes: 'contentTypes',
          folder: 'folder',
          status: 'status',
          content: 'content',
          pagination: 'pagination'
        },
        classes: {
          hidden: 'hidden'
        },
        labels: {
          close: 'X',
          newContent: 'new content'
        }
      });
      runner.init();
    </script>
  </head>
  <body>
    <div class="holder">
      <div class="menu">
        <div class="button" id="newContentButton" onclick="runner.toggleNewContent()">new content</div>
        <div id="newContent" class="hidden inline">
          <select id="contentTypes" class="selector">
            <option value="{value}">{name}</option>
          </select>
          <input type="text" class="input" id="folder" placeholder="folder_name">
          <div class="button" id="createContent" onclick="runner.createContent()">create</div>
        </div>
        <div class="inline" id="status"></div>
      </div>
      <div class="content" id="content">
        <div class="item">
          <div class="itemTitle">
            <a href="view/{library}/{folder}" class="url">{title}</a>
          </div>
          <div class="itemPath">{folder}</div>
          <div class="itemLinks">
            <a href="view/{library}/{folder}" class="url">view</a>
            <a href="edit/{library}/{folder}" class="url">edit</a>
            <div class="button" onclick="runner.remove('{folder}')">delete</div>
          </div>
        </div>
      </div>
      <div class="pagination" id="pagination">
        <div class="button{selected}" onclick="{onclick}">{page}</div>
      </div>
    </div>
  </body>
</html>
