<!DOCTYPE html>
<html>
  <head>
    <title>h5p-dev split-view</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/styles/split.css">
    <script type="text/javascript">
      window.addEventListener('load', (event) => {
        console.log('> split page loaded');
        const runner = document.getElementById('h5p-cli-run');
        const editor = document.getElementById('h5p-cli-edit');
        editor.addEventListener('load', (event) => {
          console.log('> reloading runner...');
          runner.contentDocument.location.reload(true);
        });
      });
    </script>
  </head>
  <body>
    <div class="h5p-cli-run"><iframe id="h5p-cli-run" src="{runFrameSRC}" frameBorder="0"></iframe></div>
    <div class="h5p-cli-edit"><iframe id="h5p-cli-edit" src="{editFrameSRC}" frameBorder="0"></iframe></div>
  </body>
</html> 
