<!DOCTYPE html>
<html>
  <head>
    <title>h5p-dev - view content type - {title}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/styles/view.css">
    <script type="text/javascript" src="/assets/scripts/delete.js"></script>
    <script type="text/javascript">
      H5PIntegration = {
        ajax: {
          contentUserData: "/content-user-data/:contentId/:dataType/:subContentId",
          xAPIResult: "/attempts/:contentId",
          xapi: "/xapi/:contentId/statements"
        },
        baseUrl: "/",
        context: "direct",
        contents: {
          "cid-{folder}": {
            library: "{machineName}",
            metadata: {metadata},
            jsonContent: {jsonContent},
            url: "{baseUrl}/view/{library}/{folder}",
            mainId: "{folder}",
            displayOptions: {
              "copy": true,
              "copyright": false,
              "embed": false,
              "export": true,
              "frame": true,
              "icon": true
            },
            exportUrl: "{baseUrl}/export/{library}/{folder}",
            contentUserData: {contentUserData},
            contentUserStatus: {
              enabled: true,
              numAttempts: {numAttempts}
            },
            isScoringEnabled: true,
            saveFreq: 30,
            resizeCode: "",
            title: "{folder}",
            styles: {preloadedCss},
            scripts: {preloadedJs}
          }
        },
        l10n: {l10n},
        core: {
          scripts: [
            "/libraries/h5p-php-library/js/jquery.js",
            "/libraries/h5p-php-library/js/h5p.js",
            "/libraries/h5p-php-library/js/h5p-event-dispatcher.js",
            "/libraries/h5p-php-library/js/h5p-x-api-event.js",
            "/libraries/h5p-php-library/js/h5p-x-api.js",
            "/libraries/h5p-php-library/js/h5p-content-type.js",
            "/libraries/h5p-php-library/js/h5p-confirmation-dialog.js",
            "/libraries/h5p-php-library/js/h5p-action-bar.js",
            "/libraries/h5p-php-library/js/h5p-display-options.js",
            "/libraries/h5p-php-library/js/h5p-tooltip.js",
            "/libraries/h5p-php-library/js/request-queue.js"
          ],
          styles: [
            "/libraries/h5p-php-library/styles/h5p.css",
            "/libraries/h5p-php-library/styles/h5p-confirmation-dialog.css",
            "/libraries/h5p-php-library/styles/h5p-tooltip.css"
          ]
        },
        libraryConfig: {libraryConfig},
        csrfToken: "1k8dxCQA3R2OL9yAnGTDVRi3cnlHPppTDjL1YKbi",
        externalLRS: {
          enabled: false
        },
        isAttemptsBarEnabled: 1,
        postUserStatistics: true,
        reportingIsAvailable: true,
        reportingIsEnabled: true,
        saveFreq: 30,
        siteUrl: "{baseUrl}",
        url: "{baseUrl}",
        user: { name: "developer", mail: "some.developer@some.company.com" },
        userStatusAvailable: true
      };
    </script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/jquery.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-event-dispatcher.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-x-api-event.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-x-api.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-content-type.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-confirmation-dialog.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-action-bar.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-display-options.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/h5p-tooltip.js"></script>
    <script type="text/javascript" src="/libraries/h5p-php-library/js/request-queue.js"></script>
  </head>
  <body>
    <div class="h5p-cli-iframe-wrapper">
      <iframe id="h5p-iframe-{folder}" class="h5p-iframe" data-content-id="{folder}" src="about:blank" frameBorder="0" scrolling="no"></iframe>
    </div>
    {links}
  </body>
</html> 
